body {
    font-family: 'Roboto Mono',monospace;
    min-height: 854px;
    background-color: #000000;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
  }
  
  .container {
    text-align: center;
    padding: 20px;
    height: 100vh;
  }
  
  .page-title {
    color: #ffffff;
    margin: 0 0 5px;
  }
  
  .page-subtitle {
    color: #ffffff;
    margin-top: 5px;
  }
  
  .page-logo {
    width: 200px;
  }
  
  .calculadora {
    width: 264px;
    height:360px;
    margin: 0 auto;
    position: relative;
  }
  
  .alura-logo {
    width: 40px;
    position: absolute;
    top: 10px;
    right:10px;
  }

table {
  position: absolute;
  top: 60px;
  left: calc(50% - 100px);
  color: white;
  border: 1px solid grey;
  font-size: 50px;
}

td{
  border: 1px solid grey;
}

button {
  font-size: 50px;
  color: white;
  background-color: black;
  border: none;
}
